@/atom:montmorillonite/Si 28.0855  # Si
@/atom:montmorillonite/O 15.9994  # O
@/atom:montmorillonite/Al 26.9815  # Al
@/atom:montmorillonite/H 1.01  # H
@/atom:montmorillonite/Ca 40.078  # Ca
@/atom:SPCE/O 15.9994  # O
@/atom:SPCE/H 1.008  # H
